/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


html {
	font-size: 16px;
	font-family: "Raleway", system-ui, sans-serif;
	color: #555;
	scroll-behavior: smooth;
/*	margin: 0 auto;
	max-width: 1300px;
*/

}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #ac6522;
	opacity: 1;
	transition: all 400ms;
}

a.btn:hover {
	background-color: #ce5856;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.grid {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #e07e7b;
	border: 0;
	margin-bottom: 50px;
}

.image-1 {
	background-image: url("/images/barbershop-table.jpeg");
}

.image-2 {
	background-image: url("/images/barber-shop.jpeg");
}

.image-3 {
	background-image: url("/images/barber-stole.jpeg");
}

.image-4 {
	background-image: url("/images/barber-kursi.jpeg");
}

section h3.title {
	text-transform: capitalize;
	font: bold 48px "Amatic SC", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/*Header Styles*/

header {
	/* position: absolute; */
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5); 
	z-index: 2;
	
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-size: 25px;
	font-family: "Amatic SC", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

header nav {
	display: flex;
	margin-right: -15px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

header nav li {
	margin: 0.9vh 15px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/images/barber-shop.jpeg");
	background-size: cover;
	z-index: -1;
	background-color: #db9180;
}

.hero h1 {
	font: 72px "Amatic SC", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}

.hero h3 {
	font: 28px "Raleway", sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

/* about section*/

.about .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.about .grid li.small {
	flex-basis: 30%;
}

.about .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.about .grid li.small,
	.about .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.about .grid li.small,
	.about .grid li.large {
		flex-basis: 100%;
	}
}

/* packages section */

.packages .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.packages .grid li i {
	color: #e07e7b;
}

.packages .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.packages .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/* testimonials section */

.testimonials .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
	font-family: "Amatic SC";
	font-weight: bold;
	color: red;
}

@media (max-width: 800px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
		
	
	}

	.testimonials .author {
		font-size: 14px;
		

	}
}



/* booking section*/


.booking-container {
	background-color: #eecbed;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20vh;
	height: 0vh;
  }
  
  form {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 0vw 2vw;
	width: 30vh;
	max-width: 600px;
	border-radius: 10px;
  }
  
  form h2 {
	text-align: center;
	color: #e65b00;
	margin-bottom: 20px;
  }
  
  form input, textarea {
	border: 0;
	margin: 10px 0px;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;
	border-radius: 10px;
	resize: none;
  }
  
  form button {
	background: white;
	color: #e65b00;
	border: 1px solid #e65b00;
	padding: 15px;
	font-size: 1rem;
	outline: none;
	cursor: pointer;
	width: 100%;
	font-weight: bold;
	margin: 20px auto 0;
	border-radius: 30px;
	transition: all .5s ease-in;
  }
  
  .container .map {
	width: 40%;
	float: left;
	
  }
  
  .container .contact-form {
	width: 53%;
	margin-left: 2%;
	float: left;
  }
  
  .container .contact-form .title {
	font-size: 2.5em;
	font-family: "Amatic SC", sans-serif;
	font-weight: 700;
	color: black;
	margin: 5% 8%;
  }
  
  .container .contact-form .subtitle {
	font-size: 1.2em;
	font-weight: 400;
	margin: 0 4% 5% 8%;
  }
  

  .container .contact-form input::placeholder,
  .container .contact-form textarea::placeholder {
	color: rgb(87, 87, 87);
  }
  
  .container .contact-form .btn-send {
	background: black;
	width: 180px;
	height: 60px;
	color: white;
	font-weight: 700;
	margin: 2% 60%;
	border: none;
  }
  
 /* form button:hover {
	border: 1px solid #e65b00;
	background: #e65b00;
	color: white;
  }
*/

.one-half {
	width: 50%;
	float: left;
	display: inline-block;
	font-family: sans-serif;
  }
  
  .closed {
	font-weight: bold;
	color: red;
  }

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #000000;
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 25px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
	font-family: system-ui;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
}
